<main>
  <div class='container mt-10 form-create-product'>
    <div class='alert alert-dark' role='alert'>
      <h4 class='tieude'>Thêm Sản Phẩm Mới</h4>
    </div>
    <form method='POST' action='store'>
      <div class='form-group'>
        <label for='exampleInputEmail1'>Tên sản Phẩm: </label>
        <input
          type='text'
          class='form-control'
          name='name'
          placeholder='Nhập tên sản phẩm ... '
        />
      </div>
      <div class='form-group'>
        <label for='exampleInputEmail1'>Đơn giá: </label>
        <input
          type='text'
          class='form-control'
          name='price'
          placeholder='Nhập tên Đơn giá ... '
        />
      </div>
      <div class='form-group'>
        <label for='exampleInputEmail1'>Hình ảnh: </label>
        <input
          type='text'
          class='form-control'
          name='videoID'
          placeholder='Nhập tên Hình ảnh ... '
        />
      </div>
      <div class='form-group'>
        <label for='exampleInputEmail1'>Mô tả: </label>
        <input
          type='text'
          class='form-control'
          name='content'
          placeholder='Nhập tên Mô tả ... '
        />
      </div>
      <button type='submit' class='btn btn-primary'>Thêm Sản Phẩm</button>
    </form>
  </div>
</main>