<main>
    <div class="banner">
        <img src="./img/slider_1.jpg" alt="">
    </div>
    <div class="content">
        <div class="box-introduces">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 departments">
                        <div class="department-item">
                            <div class="department-item-number">
                                <span>1</span>
                            </div>
                            <div class="department-item-content">
                                <span>Thiết bị hiện đại</span>
                            </div>
                            <div class="department-item-decor"></div>
                        </div>
                        <!-- end department-item-->
                        <div class="department-item">
                            <div class="department-item-number">
                                <span>2</span>
                            </div>
                            <div class="department-item-content">
                                <span>Thiết bị hiện đại</span>
                            </div>
                            <div class="department-item-decor"></div>
                        </div>
                        <!-- end department-item-->
                        <div class="department-item">
                            <div class="department-item-number">
                                <span>3</span>
                            </div>
                            <div class="department-item-content">
                                <span>Thiết bị hiện đại</span>
                            </div>
                            <div class="department-item-decor"></div>
                        </div>
                        <!-- end department-item-->
                        <div class="department-item">
                            <div class="department-item-number">
                                <span>4</span>
                            </div>
                            <div class="department-item-content">
                                <span>Thiết bị hiện đại</span>
                            </div>
                            <div class="department-item-decor"></div>
                        </div>
                        <!-- end department-item-->
                        <div class="bg-department-item">
                            <img src="./img/bg-department.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 introduce">
                        <div class="title-sub">
                            <span>Giới Thiệu</span>
                        </div>
                        <div class="title-primary">
                            <h1>Chứng nhận <br> Xét nghiệm <span>chuẩn đoán</span></h1>
                        </div>
                        <div class="introduce-main">
                            <p>
                                Ego Medical Center tự hào về các kỹ năng được đào tạo cần thiết cho việc chuẩn
                                bị kiểm tra đa dạng. Chúng tôi tin tưởng rằng chẩn đoán kịp thời có thể loại bỏ
                                vết sẹo của nhiều bệnh nghiêm trọng. Nó có thể được thực hiện nếu bạn tham khảo
                                ý kiến bác sĩ
                                cho các bệnh nghi ngờ.
                            </p>
                            <ul>
                                <li><i class="fas fa-check"></i>Tất cả các báo cáo cho khách hàng được thực hiện
                                    đơn giản và dễ hiểu</li>
                                <li><i class="fas fa-check"></i>Trang web thân thiện với người dùng</li>
                                <li><i class="fas fa-check"></i>Trang web dễ dàng được tùy chỉnh dựa vào thiết
                                    lập tối ưu</li>
                            </ul>
                        </div>
                        <div class="bnt-order-now">
                            <a href=""><span>Đặt lịch ngay <i class="fas fa-arrow-right"></i></span></a>
                            <!-- <button>Read More</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end box-introduces -->
        <div class="box-generality">
            <div class="container">
                <div class="generality-title">
                    <h1>Xét nghiệm chuẩn đoán</h1>
                    <div class="generality-title-decor"></div>
                </div>
                <!-- end  generality-title-->
                <div class="services-tab">
                    <div class="service-tab-item active">
                        <img src="./img/icon_tab_1.png" alt="">
                        <span>Tầm soát ung thư</span>
                    </div>
                    <!-- end service-tab-item -->
                    <div class="service-tab-item">
                        <img src="./img/icon_tab_2.png" alt="">
                        <span>Mô học</span>
                    </div>
                    <!-- end service-tab-item -->
                    <div class="service-tab-item">
                        <img src="./img/icon_tab_3.png" alt="">
                        <span>Khám tổng quát</span>
                    </div>
                    <!-- end service-tab-item -->
                    <div class="service-tab-item">
                        <img src="./img/icon_tab_4.png" alt="">
                        <span>Xét nghiệm máu</span>
                    </div>
                    <!-- end service-tab-item -->
                    <div class="service-tab-item">
                        <img src="./img/icon_tab_5.png" alt="">
                        <span>Xét nghiệm di truyền</span>
                    </div>
                    <!-- end service-tab-item -->
                    <div class="service-tab-item">
                        <img src="./img/icon_tab_6.png" alt="">
                        <span>Tế bào học</span>
                    </div>
                    <!-- end service-tab-item -->
                </div>
                <!-- end services-tab -->
                <div class="services-main">
                    <div class="row service-main-item active">
                        <div class="col-md-6 col-lg-6">
                            <img class="covidimg" src="./img/img_tab_1.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-lg-6 box-service-content">
                            <div class="content-title">
                                <h2>Tầm soát ung thư</h2>
                            </div>
                            <div class="service-content">
                                <p>Mỗi năm Việt Nam có hơn 126.000 ca mắc mới mắc bệnh ung thư, trong số đó
                                    khoảng 94.000 người tử vong vì phát hiện quá muộn. Việt Nam cũng là một
                                    trong những quốc gia có tỷ lệ người dân đi tầm soát ung thư thấp nhất.
                                    Nếu được tầm soát và phát hiện sớm, những căn bệnh ung thư sau có thể chữa
                                    khỏi hoàn toàn:
                                </p>
                                <ul>
                                    <li><i class="fas fa-check"></i>Ung thư phổi</li>
                                    <li><i class="fas fa-check"></i>Ung thư gan</li>
                                    <li><i class="fas fa-check"></i>Ung thư dạ dày</li>
                                    <li><i class="fas fa-check"></i>Ung thư vú</li>
                                    <li><i class="fas fa-check"></i>Ung thư cổ tử cung</li>
                                </ul>
                                <p>Tầm soát ung thư là phương thức chẩn đoán nhằm phát hiện ra mầm mống ung thư
                                    hoặc khi khối u c...</p>
                            </div>
                            <div class="bnt-order-now">
                                <a href=""><span>Đặt lịch ngay <i class="fas fa-arrow-right"></i></span></a>
                                <a href=""><span>Xem Thêm <i class="fas fa-angle-double-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end ow services-content-item -->
                    <div class="row service-main-item">
                        <div class="col-md-6 col-lg-6">
                            <img src="./img/img_tab_2.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-lg-6 box-service-content">
                            <div class="content-title">
                                <h2>Mô học</h2>
                            </div>
                            <div class="service-content">
                                <p>Xét nghiệm chẩn đoán mô bệnh học là xét nghiệm thực hiện trên mẫu mô sau sinh
                                    thiết nội soi, sinh thiết kim hoặc trong bệnh phẩm phẫu thuật. Bệnh phẩm
                                    được bảo quản trong môi trường formol pha theo tỷ lệ quy định
                                    rồi được chuyển về phòng xét nghiệm giải phẫu bệnh. <br>Tại đây, mẫu bệnh
                                    phẩm được xử lí theo đúng quy trình xét nghiệm để đưa ra kết quả chính xác
                                    nhất. Kết quả xét nghiệm này là tiêu chuẩn vàng trong chẩn
                                    đoán bệnh lí ác tính. <br>Xét nghiệm chẩn đoán hóa mô miễn dịch nhằm giúp
                                    xác định chính xác nguồn gốc của các khối u kém biệt hóa. Xét nghiệm này
                                    thường đ...
                                </p>
                            </div>
                            <div class="bnt-order-now">
                                <a href=""><span>Đặt lịch ngay <i class="fas fa-arrow-right"></i></span></a>
                                <a href=""><span>Xem Thêm <i class="fas fa-angle-double-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end ow services-content-item -->
                    <div class="row service-main-item">
                        <div class="col-md-6 col-lg-6">
                            <img src="./img/img_tab_3.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-lg-6 box-service-content">
                            <div class="content-title">
                                <h2>Khám tổng quát</h2>
                            </div>
                            <div class="service-content">
                                <p>– Xét nghiệm chỉ số máu (nhằm phát hiện tình trạng thiếu máu và một số bệnh
                                    lý về máu, chẩn đoán tiểu đường và dung nạp Glucose, đánh giá chức năng
                                    thận, chức năng gan, tầm soát virus viêm gan B…) <br> – Xét nghiệm
                                    nước tiểu, nhằm phát hiện một số bệnh lý về thận, tiết niệu… <br>– Chẩn đoán
                                    hình ảnh, thăm dò chức năng (gồm: Chụp X Quang ngực thẳng, điện tim đồ, siêu
                                    âm ổ bụng tổng quát thường, chụp CT…). Tự hào là bệnh
                                    viện lớn, được xây dựng theo tiêu chuẩn “Bệnh viện <br>– Khách sạn và lọt
                                    Top 3 bệnh viện có điểm chất lượng cao nhất <br>– Bệnh viện ĐKQT Ego Medical
                                    là địa chỉ uy tín được nhiều doanh nghiệp đăng...
                                </p>
                            </div>
                            <div class="bnt-order-now">
                                <a href=""><span>Đặt lịch ngay <i class="fas fa-arrow-right"></i></span></a>
                                <a href=""><span>Xem Thêm <i class="fas fa-angle-double-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end ow services-content-item -->
                    <div class="row service-main-item">
                        <div class="col-md-6 col-lg-6">
                            <img src="./img/img_tab_4.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-lg-6 box-service-content">
                            <div class="content-title">
                                <h2>Xét nghiệm máu</h2>
                            </div>
                            <div class="service-content">
                                <p>Có rất nhiểu bệnh có thể phát hiện được qua xét nghiệm máu. Thông thường khi
                                    khám sức khỏe bác sĩ sẽ chỉ định thực hiện những xét nghiệm máu sau:
                                </p>
                                <ul>
                                    <li><i class="fas fa-check"></i>Xét nghiệm công thức máu</li>
                                    <li><i class="fas fa-check"></i>Xét nghiệm đường máu</li>
                                    <li><i class="fas fa-check"></i>Xét nghiệm mỡ máu</li>
                                    <li><i class="fas fa-check"></i>Xét nghiệm viêm gan B</li>
                                    <li><i class="fas fa-check"></i>Xét nghiệm HIV </li>
                                </ul>
                                <p>Tại khoa phòng cụ thể, các bác sĩ sẽ căn cứ vào tình trạng sức khoẻ và những
                                    yếu tố nguy cơ bệnh để chỉ định làm xét nghiệm máu. <br>Tới tầng 7 – Đơn vị
                                    xét nghiệm Bệnh viện Ego Medical. Người bệnh được chuyên viên
                                    y tế bệnh viện lấy máu xét nghiệm. <br>Các dụng cụ lấy máu đều đảm bảo tính
                                    vệ sinh, vô ...</p>
                            </div>
                            <div class="bnt-order-now">
                                <a href=""><span>Đặt lịch ngay <i class="fas fa-arrow-right"></i></span></a>
                                <a href=""><span>Xem Thêm <i class="fas fa-angle-double-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end ow services-content-item -->
                    <div class="row service-main-item">
                        <div class="col-md-6 col-lg-6">
                            <img src="./img/img_tab_5.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-lg-6 box-service-content">
                            <div class="content-title">
                                <h2>Xét nghiệm di truyền</h2>
                            </div>
                            <div class="service-content">
                                <p><b>Xét nghiệm di truyền</b> hay còn được gọi là xét nghiệm DNA, cho phép phân
                                    tích gen có khả năng gây bệnh di truyền, và cũng có thể được sử dụng để xác
                                    định quan hệ cha con/ mẹ con hoặc truy nguyên nguồn gốc tổ
                                    tiên của một người hoặc các mối quan hệ huyết thống giữa những người tham
                                    gia. <br>Bên cạnh đó, các nghiên cứu ở mức độ nhiễm sắc thể của con người
                                    theo hướng rộng mở bao gồm xét nghiệm sinh hóa tìm kiếm khả
                                    năng hiện diện của các bệnh di truyền, hoặc dạng đột biến của các gen quan
                                    trọng gia tăng nguy cơ của các rối loạn di truyền. Xét nghiệm di truyền học
                                    xác định sự thay đổi trong nhiễm s...
                                </p>
                            </div>
                            <div class="bnt-order-now">
                                <a href=""><span>Đặt lịch ngay <i class="fas fa-arrow-right"></i></span></a>
                                <a href=""><span>Xem Thêm <i class="fas fa-angle-double-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end ow services-content-item -->
                    <div class="row service-main-item">
                        <div class="col-md-6 col-lg-6">
                            <img src="./img/img_tab_6.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-lg-6 box-service-content">
                            <div class="content-title">
                                <h2>Tế bào học</h2>
                            </div>
                            <div class="service-content">
                                <p><b>Xét nghiệm tế bào học</b> (Cytology hoặc Cytopathology) là xét nghiệm
                                    thông dụng và có giá trị cao. Xét nghiệm tế bào học khảo sát các tế bào rời
                                    hoặc một cụm tế bào lẫn trong chất dịch lỏng thấy được trên kính
                                    hiển vi. Có khi chỉ cần một giọt máu hoặc chất dịch như trong xét nghiệm
                                    FNA, nhưng có khi phải cần đến cả chai chất <b>dịch màng phổi </b>hoặc ổ
                                    bụng. <br>Lấy một mẫu thử tế bào, ít gây mệt, ít gây biến chứng
                                    và đỡ tốn kém hơn cho người bệnh so với sinh thiết mô bệnh học.<br>Trong
                                    nhiều trường hợp, <b>sinh thiết </b>cho kết quả chính xác hơn. Tuy nhiên,
                                    với một số trường hợp...
                                </p>
                            </div>
                            <div class="bnt-order-now">
                                <a href=""><span>Đặt lịch ngay <i class="fas fa-arrow-right"></i></span></a>
                                <a href=""><span>Xem Thêm <i class="fas fa-angle-double-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end ow services-content-item -->
                </div>
            </div>
        </div>
        <div class="box-product">
            <div class="container">
                <div class="box-product-title">
                    <div class="box-product-title-sub">
                        <span>Chúng tôi có</span>
                    </div>
                    <div class="box-product-title-primary">
                        <h1>Sản phẩm y tế</h1>
                    </div>
                    <div class="box-product-title-decor"></div>
                </div>
                <!-- end box-product-title -->
                <div class="box-product-search">
                    <form action="">
                        <input type="text" placeholder="Tìm sản phẩm khác...">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- end box-product-search -->
                <div class="box-product-showroom">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="./img/product001.jpg" alt="anh san pham">
                        </div>
                        <div class="product-information">
                            <p>Cồn rửa tay khô</p>
                            <div class="price">
                                <span class="price-sale">99.000đ</span>
                                <span class="price-root">150.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>