<header>
  <div class='header__top'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-9 time_contact'>
          <div class=''>
            <p><i class='fas fa-clock'></i><span>
                Th2 - CN 9:00 AM - 21:00 PM
              </span></p>
            <p><i class='fas fa-phone'></i><a href='tel:19006750'>
                1900 6750</a></p>
            <p><i class='fas fa-envelope'></i><a
                href='mailto:ego.deploy@gmail.com'
              >ego.deploy@gmail.com</a>
            </p>
          </div>
        </div>
        <div class='col-md-12 col-lg-3 login_contact'>
          <div class='login'>
            <a href=''>Đăng Nhập</a>
            /
            <a href=''>Đăng Ký</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='header-main'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-2 col-md-2 bnt__nav_bars'>
          <i class='fas fa-bars'></i>
        </div>
        <div class='col-sm-8 col-md-8 col-lg-2 logo'>
          <img src='../../img/logo.png' alt='logo' />
        </div>
        <div class='col-lg-7 navbars_pc'>
          <ul class='item-big'>
            <li class='nav-item'>
              <a href='/'>Trang Chủ</a>
            </li>
            <li class='nav-item'>
              <a href='/intro'>Giới Thiệu</a>
            </li>
            <li class='nav-item'>
              <a href=''>Đặt Lịch Hẹn <i class='fas fa-angle-down'></i></a>
              <ul class='item-small'>
                <li><a href=''>Tầm Soát Ung Thư</a></li>
                <li><a href=''>Mô Học</a></li>
                <li><a href=''>Khám Tổng Quát</a></li>
                <li><a href=''>Xét Nghiệm Máu</a></li>
                <li><a href=''>Xét Nghiệm Di Truyền</a></li>
                <li><a href=''>Tế Bào Học</a></li>
              </ul>
            </li>
            <li class='nav-item'>
              <a href=''>Sản Phẩm <i class='fas fa-angle-down'></i></a>
              <ul class='item-small'>
                <li><a href='/product/create'>Thêm Sản Phẩm</a></li>
                <li>
                  <a href='/me'>Danh Sách Sản Phẩm</a>
                  <i class='fas fa-angle-right'></i>
                  {{!-- <ul class='item-small-child'>
                    <li><a href=''>Dược Phẩm</a></li>
                    <li><a href=''>Dược Phẩm</a></li>
                  </ul> --}}
                </li>
                <li><a href=''>Phụ Kiện Ý Tế</a></li>
                <li><a href=''>Máy Chụp X Quang</a></li>
              </ul>
            </li>
            <li class='nav-item'>
              <a href=''>Tin Tức</a>
            </li>
            <li class='nav-item'>
              <a href=''>Liên Hệ</a>
            </li>
          </ul>
        </div>
        <div class='col-sm-2 col-md-2 col-lg-3 cartsearch'>
          <div class='search'>
            <form action=''>
              <input type='text' name='' class='inp__search' id='' placeholder='Tìm Kiếm ...' />
              <button><i class='fas fa-search'></i></button>
            </form>
          </div>
          <div class='cart'>
            <i class='fas fa-cart-arrow-down'></i>
            <span>
              Giỏ hàng
            </span>
            <sub>0</sub>
          </div>
        </div>
        {{! start nav overlay (mobile)}}
        <div class='navbars_overlay'></div>
        <div class='navbars_mobile'>
          <div class="login_user">
            <img src="../img/myavata.jpg" alt="">
            <span>Võ Định</span>
          </div>
          <div class='search'>
            <form action=''>
              <label for="">Tìm Kiếm: </label>
              <input type='text' class='inp__search' placeholder='Tìm Kiếm ...' />
              <button><i class='fas fa-search'></i></button>
            </form>
          </div>
          <ul class='item-big'>
            <li class='nav-item'>
              <a href='/'>Trang Chủ</a>
            </li>
            <li class='nav-item'>
              <a href='/intro'>Giới Thiệu</a>
            </li>
            <li class='nav-item'>
              <a href=''>Đặt Lịch Hẹn</a>
                <ul class='item-small'>
                  <li><a href=''>Tầm Soát Ung Thư</a></li>
                  <li><a href=''>Mô Học</a></li>
                  <li><a href=''>Khám Tổng Quát</a></li>
                  <li><a href=''>Xét Nghiệm Máu</a></li>
                  <li><a href=''>Xét Nghiệm Di Truyền</a></li>
                  <li><a href=''>Tế Bào Học</a></li>
                </ul>
                <i class="bnt_show_nav-children fas fa-plus-circle"></i>
            </li>
            <li class='nav-item'>
              <a href=''>Sản Phẩm</a>
              <ul class='item-small'>
                <li><a href='/product/create'>Thêm Sản Phẩm</a></li>
                <li>
                  <a href='/me'>Danh Sách Sản Phẩm</a>
                  {{!-- <ul class='item-small-child'>
                    <li><a href=''>Dược Phẩm</a></li>
                    <li><a href=''>Dược Phẩm</a></li>
                  </ul> --}}
                </li>
                <li><a href=''>Phụ Kiện Ý Tế</a></li>
                <li><a href=''>Máy Chụp X Quang</a></li>
              </ul>
              <i class="bnt_show_nav-children fas fa-plus-circle"></i>
            </li>
            <li class='nav-item'>
              <a href=''>Tin Tức</a>
            </li>
            <li class='nav-item'>
              <a href=''>Liên Hệ</a>
            </li>
          </ul>
          <div class="bnt__close_navbars">
            <i class="fas fa-times"></i>
          </div>
        </div>

        {{! end nav overlay }}
      </div>
    </div>
  </div>
</header>